---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/sombrero.jpeg" alt="Evan in a Sombrero" width="330">
    </figure>
    <p>Hi there 👋! My name is Evan Xiang, and I'm thrilled that you're here. I'm a 11th grader who loves molecular biology, ethology, and the atmosphere. For my CV, see <a href={`https://drive.google.com/file/d/1OBn1wALf_0dDFEECMwPlsQurXL2o3zbo/view?usp=sharing`}>here</a>.</p>
    <p>I engage in these interests through several competitions such as the <a href={`https://www.usabo-trc.org/`}>USA Biology Olympiad (USABO)</a>, <a href={`https://www.soinc.org/`}>Science Olympiad</a>, and the <a href={`https://www.useso.org/`}>USA Earth Science Olympiad (USESO)</a>. I firmly believe that participation in these olympiads has solidified my love for the natural sciences. I was a 2024 USA Biology Olympiad National Finalist (Top 20) and a 2024 USA Earth Science Olympiad National Finalist (Top 40). </p>
    <p>In Science Olympiad, I have been a team captain since 7th grade, leading the MS team to 2 National Tournaments, finishing 8th in the country in 2023. In HS, I have led the team from a 20th place finish in 2023 to 8th in 2024. SciOly is what exposed me to the art of learning science and I truly love the community and attending competitions. For a full list of SciOly placements see <a href={`https://scioly.org/wiki/index.php/User:Banana2020#Results`}>here</a>.</p>
    <p>I also have a keen interest in Meteorology, having competed in the SciOly event for 4 years, winning states 3 times in a row from 7th-9th! I love being able to look at clouds in the sky, think about some patterns, and semi-accurately predict the weather (emphasis on semi).</p>
    <p>I volunteer my time by teaching classes to those starting in Meteorology and the USABO through <a href={`https://pandorax.org/usabobootpage.html`}>Pandorax</a> and private tutoring. I also write SciOly tests about Microbiology, Meteorology, and Experimental Design, having written for 20+ invitationals in my time. My tests have been taken by over 3500 students, and I have graded over 2000 tests. A list of my tests is provided <a href={`https://scioly.org/wiki/index.php/User:Banana2020#Test_Writing.2FReviewing`}>here</a>.</p>
    <p>I assist in the Chang Lab at the UPMC Vision Institute, conducting research on the applicability of various miRNAs towards wAMD (Neurovascular Age-Related Macular Degeneration) and Anti-VEGF-Induced TGF-β Epithelial-Mesenchymal Transition.</p>
    <p>Finally, outside of the sciences, I enjoy playing table tennis with my parents (I'm better... just kidding), watching meteor showers, trolling in voice chat with my friends, and listening to my Spotify daylist.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
