<div>
  <img src="/assets/biopfp.jpeg" alt="Headshot of Evan Xiang">
  <p>
    Hi, I'm <strong>Evan</strong>. I'm a Junior at Shady Side Academy in Pennsylvania! I enjoy studying
    biology and applying my skills in the lab. This blog is my way to record my achievements and special events for my future reference!
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 125px;
    height: 125px;
    border-radius: 125px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
