<footer>
  <p>Learn more about me on <a href={`https://www.linkedin.com/in/evan-xiang-4483b7231/`}>LinkedIn</a>!</p>
  <span>
    &copy; {new Date().getFullYear()} Evan Xiang.
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
